a{
text-decoration: none;
color: red;
background-color: blue;
font-size: 50px;
border-radius: 90px;
}
body{
	background: linear-gradient(-00deg, #c850c0, #4158d0);

}
/*
div{
	width: 250px;
	height: 250px;
	background: purple;
	display: lnline-block;
	margin: 30px 50px;
	line-height: 250px;
	border: 10px solid orange;
}*/

.container{

 width: 1010px;
 height: 5000px;
 border: 1px solid black;
 margin: 0 sauto;
 text-align: center;
 align-items: center;
 left: 40%;
}
